<!-- <div> {{evenNumber}} </div> -->



<!-- <input [(ngModel)]="TheNamee" type="text">
<input [(ngModel)]="TheContente" type="text">
<button (click)="onBoldAdd()" class="btn btn-primary">add bold</button>
<button (click)="onItallicAdd()" class="btn btn-danger">add italic</button> -->

<!--  -->


<!-- <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>account name</label>
      <input type="text" class="form-control" #accountName>
    </div>
    <div class="form-group">
      <select class="form-group" #status>
        <option value="active">Active</option>
        <option value="inactive">inActive</option>
        <option value="Hidden">Hidden</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="onCreateAccount(accountName.value, status.value)">Add account</button>
  </div>
</div> -->



<!-- <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>account name</label>
      <input type="text" class="form-control" #accountName>
    </div>
    <div class="form-group">
      <select class="form-group" #status>
        <option value="active">Active</option>
        <option value="inactive">inActive</option>
        <option value="Hidden">Hidden</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="onCreateAccount(accountName.value, status.value)">Add
      account</button>
  </div>
</div> -->










<!-- <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>account name</label>
      <input type="text" class="form-control" #theInput>
    </div>
    <div class="form-group">
      <select class="form-group">
        <option value="active">Active</option>
        <option value="inactive">inActive</option>
        <option value="Hidden">Hidden</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="OnToServer()">Go to Servers</button>
    <button class="btn btn-primary" (click)="PushServer(theInput)">Add To Servers</button>
  </div>
</div> -->

<p>this is even</p>
